.App {
  text-align: center;
  font-family: sans-serif;
}

.App-header {
  background-color: #2c2834;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.date-picker {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin:2rem;
}

.no-data {
  margin: 10rem;
  color: red;
}
